.texto {
    width: 70%;
}

.titulo {
    font-size: 2rem;
}

.conteudo {
    font-size: 1.2rem;
    text-align: justify;
}

.break {
    margin: 1rem;
    display: flex;
    justify-content: center;
}

.break2 {
    margin: 2rem;
}

.player {
    display: flex;
    justify-content: center;
}

.player iframe {
    width: 780px;
    height: 440px;
}